/*HOJA INDEX*/
body, html{
    background-image: url(./fotofondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    width: 100%;
}
.container{
   padding-left: 40%;             
   color: blue;
   align-items: center;
   width: 100%;
}
select{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
h2{
    color: blue;
}
h3{
    color: blue;
}
form{
    color: blue;
    position: absolute;
}
button{
    margin-top: 20px;
    align-items: center;
    align-content: center;
}
/*HOJA DE ENVIO*/
h1{
    color: white;
    background-color: transparent;
    padding: 30%;
    margin: absolute;
}
/*HOJA LOGIN*/
.login{
    align-items: center;
    margin: 20%;
    padding-left: 20%;
}
.login .ing{
    margin-left: 25%;
}
.login button{
    margin-left: 9%;
}
.login .reg{
    margin-left: 30px;
    align-items: center;
    margin-top: 10%;
}
.login .olv{
    margin-left: 10px;
    align-items: center;
}
input{
    width: absolute;
}
.regs h1{ 
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}